{% extends "base.html" %}


    {% block title %}
    <title>
        {{ recipe_object.title }} - Scrumptious Recipes
    </title>
    {% endblock title %}
    {% block header %}
    <header>
      <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
      </nav>
    </header>
    {% endblock header %}
    {% block main %}
    <main>
      <h1>Edit {{ recipe_object.title }}</h1>
      <form method="post">
          {% csrf_token %}
          {{ recipe_form.as_p }}
          <button>Save</button>
      </form>
    </main>
    {% endblock main %}
